<!DOCTYPE html>
<html lang="en">
<head>

{% extends "base.html" %}
{% block content %}

  {% load static %} 

<style>

div {
  margin: 10px;
  color: #000000;
}

h6 {
  margin: 15px;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}



a:hover {
    color: white;
    text-decoration: none;
}


.btn-primary {
    color: #fff;
    background-color: #000000;;
    border-color: #000000;;
}

</style>
</head>
<body>

<ul>
  <li><a class="active" href="http://127.0.0.1:8000/create/">Create</a></li>
  <li><a href="http://127.0.0.1:8000/view/">View</a></li>
  <h6>Supplier Implementation</h6>
</ul>
<div class="container">
    <div class="row">
        <div class="col-md-8 form-page mb-3">
            <form method="POST" role="form">
              {% for field in client %}
                
                <div class="fieldWrapper form-group" aria-required="true">
                    <label for=""> {{ field.label_tag }}</label><span class="required">*</span>
                    {{ field }}

                    
                    {% if field.help_text %}

                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}

                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                      </p>
                    
                </div>
              {% endfor %} 

              {% for field in product %}
                
                <div class="fieldWrapper form-group" aria-required="true">
                    <label for=""> {{ field.label_tag }}</label><span class="required">*</span><br>

                    <input type="date" name="installation_date" required="" id="id_installation_date" class="form-control">
                    {% if field.help_text %}

                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}

                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                      </p>
                    
                </div>
              {% endfor %}

              {% for field in router %}
                
                <div class="fieldWrapper form-group" aria-required="true">
                    <label for=""> {{ field.label_tag }}</label><span class="required">*</span>
                    {{ field }}

                    
                    {% if field.help_text %}

                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}

                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                      </p>
                    
                </div>
              {% endfor %}

              {% for field in hub %}
                
                <div class="fieldWrapper form-group" aria-required="true">
                    <label for=""> {{ field.label_tag }}</label><span class="required">*</span>
                    {{ field }}

                    
                    {% if field.help_text %}

                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}

                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                      </p>
                    
                </div>
              {% endfor %} 
      
                
    <input type="submit" class="btn btn-primary mb-2" value="Submit" />
            </form>
        </div>
  <div class="col-md-4">
    <!-- other column -->
  </div>
</div>
</body>

{% endblock %}
</html>